html {
	font-family: "Roboto", sans serif;
	font-weight: 300;

	overflow: hidden;
}

nav {
	background-color: #104b7d;
}

#sfn-title {
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	/* color: #8a1e04; */
}

#sfn-title span {
	font-variant: normal;
	font-style: italic;
}

#netGraph {
	overflow: hidden;
	text-align: center;
}

#netGraph img {
	max-width: 100%;
	max-height: 50em;
}

.my-btn-group-vertical {
	position: absolute;
	margin: auto;
	padding:0.5em;
	width: 20em;
	top:50%;
	left:50%;
	margin-right:-50%;
	transform: translate(-50%, -50%);

}

.btn {
	width: 100%;
	margin:0.5em;
	color: #fff !important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4em;
	line-height: 4em;
	background-color: #eee;
}

.footer .container {
	text-align: center;
}


.desktop {
	display: block;
}

.mobile {
	display: none;
}

@media (max-width: 480px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	#netGraph {

	}

	#netGraph img {
		height: 100%;
		max-width: none;
	}
}
